# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDEs y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ollama / IA
# No subimos los modelos pesados
*.bin
*.gguf

# OS generados
*.tmp
*.temp