# Python / Django
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
venv/
env/
ENV/
logs/
*.log

# Node / React
node_modules/
dist/
build/
.DS_Store
.eslintcache
.npm
.yarn

# IDEs
.vscode/
.idea/
*.swp
*.swo

# KAVE / Temporary
*.xlsx
*.pdf
test-image/
firma_kave.png